body {
  font-family: Arial, sans-serif;
  background: #f1f1f1;
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.app {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
}

h1 {
  margin-top: 0;
  text-align: center;
}

.add-form {
  display: flex;
  gap: 10px;
}

.add-form input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.add-form button {
  padding: 10px 15px;
  background: #4caf50;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.add-form button:hover {
  background: #45a049;
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.item {
    color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 8px;
  background: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.delete-btn {
  background: #ff5c5c;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #e04444;
}

.empty {
  text-align: center;
  margin-top: 20px;
  color: #777;
}
.clear-btn {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #ff4444;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.clear-btn:hover {
  background: #e03333;
}
